applications/local-cluster/thanos/htpassword
nginx-reverse-proxy/nginx-reverse-proxy.pem
certs/rajesh-homeserver.ddns.net.csr
certs/rajesh-homeserver.ddns.net.key
certs/rajesh-homeserver_ddns_net.pem

